  
  *{font-family: 'Roboto', sans-serif !important;}


body{
  background-color:#D6EAF8  !important;
    }

  h5 {
    text-align: center;
    font-weight: bold !important;
    margin-top: 20px !important;
    font-size: 30px !important;
  }


  h6{
    font-weight: bold !important;
      font-size: 30px !important;
      margin-top: 25px !important;
      color: red !important;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 2px 2px 3px black;
  }

  h4 {
    font-size: 20px !important;
    margin-top: 15px !important;
    font-weight: bold !important;
    padding-left: 5px;
    border: 2px solid black;
  }


  h3 {
    padding: 5px;
    font-weight: bold !important;
    font-size: 30px !important;
    text-align: center;
    color: green !important;
    text-shadow: 2px 1px 2px black;
    font-size: 25px !important;
  }


  .btn-primary{
    color: black !important;
    font-weight: bold !important;
  }

  .btn-success{
    color: black !important;
    font-weight: bold !important;
    width: 200px !important;
    margin-left: 175px !important;
  }

  .container{
    width: 425px !important;
  }

  input{
    width: 300px !important;
  }
  

.Box{
  margin-top: 25px !important;
  width: 500px !important;
  margin: 10px 20px 20px 400px;
  padding: 5px;
  border: 3px solid red !important;
}

table{
  margin-top: 10px !important;
}

td{ 
  font-weight: bold !important;
  font-size: 16px !important;
}


ul{
  list-style: none;}
ul li{
  padding: 15px 0px !important;}
ul li a{
  color: #000000;
}



.table-bordered > tbody > tr > td{
  border: 2px solid gold !important;
}


@media only screen and (max-width :600px){     



}






@media only screen and (max-width :400px)

{     


h1 {
  font-size: 15px !important;
  margin-top: 20px !important;
  padding-left: 0px !important;
    }

.logo {
  margin: 2px 0px !important;
      }

h3  { 
  margin-top:10px !important;
    }

h5  {
  font-size: 22px !important;
    }

header{
  height: 58px;
      }

  input{
        width: 200px !important;
      }

  .btn-primary{
        margin-left: 35px !important;
      }
    
  .btn-success{
        margin-left: 75px !important;
      }

  .Box{
        margin-bottom: 20px !important;
          }


}