
  *{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif" !;}

  h2 {
    padding: 5px;
    font-weight: bold;
    color: orange;
    text-shadow: 2px 2px 4px black;
  }

  .container{
    width: 850px;
  }

  .btn-success{
    color: black !important;
    margin-top: 25px !important;
    font-weight: bold !important;
  }

  h4{
    font-weight: bold;
      font-size: 30px;
      margin-top: 25px !important;
      color: red;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 2px 2px 3px black;
  }

  h5 {
    text-align: center;
    font-weight: bold !important;
    margin-top: 10px !important;
    font-size: 30px !important;
  }

  .col-lg-6 {
    width: 100%;
    }

table{
  margin-top: 5px !important;
}

ul{
  list-style: none;}
ul li{
  padding: 15px 0px !important;}
ul li a{
  color: #000000;
}

.table-bordered > tbody > tr > td{
  border: 2px solid gold !important;
}

td{ 
  font-weight: bold !important;
  font-size: 16px !important;
}

td > a{
  color: black !important;
}